html,body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
   width:100%;
 display: flex;
  flex-direction: column;
   height:100%;
   background: linear-gradient(135deg, lightblue, #8A2BE2); 
  }

.main-header {
    
   background-color: #002244; 
   color: white; 
   padding: 20px;
   text-align: center; 
   position: sticky; 
   top: 0; 

   z-index: 1000;

}


.sub-header {
    
    background-color: #73C2FB; 
        padding: 10px; 
     position: sticky; 
    top: 120px;
    text-align: center; 
    justify-content: center;
    z-index: 1000; 

   
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
     justify-content: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
     padding: 20px;
 margin-top:-30px;
}



nav ul li a {
    text-align: center; 
    justify-content: center;
    text-decoration: none;
     margin-top:-20px;
    color:black; 


}



nav ul li a:hover{
    color:white;
    font-weight: bold;
}

main {
  background-size: 10%;
  padding:150px 200px 150px 200px;
  display: flex; 
  justify-content:space-between; 
  flex-direction:column;
  background-color:#FCEBAF ;
}

main h1{
     text-align:center;
   font-size: 50px;	
  align-items:center;
  color:black;
  font-weight: bold;
}

.fac-main{
display: flex; 
 gap:20px; 
justify-content:center;
  flex-wrap: wrap;
}

.start{
  background-image: url('bkg1.png');
  background-size: 30%;
  color:black;
  height:400px;
  text-align:center;
font-size: 37.5px;	
  align-items:center;
 padding: 200px 100px 200px 100px;
 
}

section {
    background: rgb(0, 0, 0);
    color:white;
    padding:30px 25px 30px 25px;
    margin: 15px 0;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  
   text-align:center;
   width: calc(25% - 80px);
}
h2 {
    color:white;
    text-align: center;
    justify-content: center;
}

button {
    background-color:	#F0EAD6;
    color: black;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
     background-color: rgb(100, 100, 220) ;
    color:wheat ;
}

.settings{
  background: linear-gradient(135deg, #1E90FF, #8A2BE2);
    padding:130px 200px 140px 200px;  
  text-align:center;
font-size: 37.5px;	
  align-items:center;
  justify-content:center;
}

footer {
    
  text-align: center;
   
     background: black;

    color: white;

    width: 100%;
    padding: 10px 0; /* Added padding for better spacing */
}
